<h1>Class and Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p
  class="message-error"
  [class.invalid]="nameInput2.invalid"
>
  El campo es requerido
</p>

<hr>

<h1>*ngFor Object</h1>
<div>
  <div *ngFor="let product of products">
    <p>Name: {{product.name}}</p>
    <p>Price: {{product.price}}</p>
    <p>Category: {{product.category}}</p>
    <hr>
  </div>
</div>

<hr>


<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newFeelings" />
<button (click)="addNewFeelings()">Add name</button>
<ul>
  <li *ngIf="feelings.length === 0">No hay nada que mostrar</li>
  <li
    *ngFor="let feeling of feelings
    "
  >
    {{ feeling }}
  </li>
</ul>

<ul>
  <li
    *ngFor="
      let feeling of feelings;
      index as i;
    "
  >
   {{i}} {{ feeling }}
   <button (click)="deleteFeeling(i)">-</button>
  </li>
</ul>

<hr>

<h1>ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'Dorime'">My content</p>
<p
  *ngIf="person.name === 'Carlos' && person.age === 18;
  elseBlock"
>
  My content
</p>
<ng-template #elseBlock> <!--Bloque de else-->
  <p>Bloque de else</p>
</ng-template>

<hr>

<h1>ngModel</h1>
<p>Nombre {{ person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }} </p>

<p>Nombre {{ person.age}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ ageInput.valid }} </p>

<hr/>

<h1>Eventos</h1>
<button (click)="showAlert()" >No presionar</button>
<button (click)="toggleButton()" >Activar Boton</button>
<p>Edad {{ person.age }}</p>
<button (click)="incrementAge()">Incrementar la Edad</button>

<div
  class="box"
  (scroll)="onScroll($event)"
>
  Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Dolor unde omnis a cum eius voluptates. Porro inventore, est culpa vitae asperiores numquam tenetur itaque aliquam eaque, iusto, molestias veritatis fugiat?
</div>

<input
  type="text"
  [value]="person.name"
  (keyup)="onKeyUp($event)"
/>
<p>Name {{ person.name }} </p>



<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Boton</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100px" [src]="person.avatar" alt="Avatar">

<hr/>
<h1>Hola mundo</h1>
<h2>{{ 'Hola mundo'.repeat(5)}} </h2>
<p> 3 + 3 = {{ 3 + 3 }} </p>
<h3>Hola, soy {{ name }} y tengo {{ age }} </h3>
<img src={{img}} alt="Imagen">